<form #form="ngForm" (ngSubmit)="addReviewAction()" class="review-form">
  <p>Share your thoughts with other customers</p>
  <img src="" alt="" />
  <textarea
    placeholder="Leave a review..."
    [(ngModel)]="review.content"
    name="review"
  ></textarea>
  <label>Rating</label>
  <input
    class="form-control fs-5"
    type="number"
    placeholder="rating"
    name="rating"
    [(ngModel)]="review.rating"
    min="0"
    max="5"
  />

  <button type="submit">Publish</button>
</form>

<ul>
  <li *ngFor="let review of reviews">
    <h2>Anon</h2>
    <p>review.content</p>
  </li>
</ul>
