<div class="col-md-7 d-flex justify-content-around w-100">
  <img src="assets/img/example-img.jfif" alt="Clothes" />
  <div class="d-flex flex-column w-50">
    <h3 class="h1 ms-auto">{{ productDetails.name }}</h3>
    <h2 class="ms-auto">
      Price: <span class="display-5">{{ productDetails.price }}$</span>
    </h2>
    <h2 class="ms-auto">
      Available Size: <span class="display-4">{{ productDetails.size }}</span>
    </h2>
    <p class="fs-2 mt-5 ms-auto">Quantity:</p>
    <input class="form-control fs-5 ms-auto" type="number" value="1" />
    <hr />
    <h4 class="h1 ms-auto">Product Details</h4>
    <p class="font-weight-light fs-2 ms-auto">
      {{ productDetails.description }}
    </p>
    <div class="d-flex justify-content-around">
      <button class="btn btn-lg btn-primary" (click)="buyProduct()">Buy</button>
      <a
        class="btn btn-secondary btn-lg"
        [routerLink]="['/product', 'edit', productDetails.id]"
        >Edit</a
      >
    </div>
  </div>
</div>
<app-review-component></app-review-component>
