<div class="sell-container">
  <form #form="ngForm" (ngSubmit)="sellProductAction()">
    <h1>Product Page</h1>
    <label for="product-name" class="form-label">Product Name</label>
    <input
      type="text"
      placeholder="Name"
      name="name"
      [(ngModel)]="sellProduct.name"
      autocomplete="off"
    />

    <label for="product-descr" class="form-label">Product Description</label>
    <input
      type="text"
      placeholder="Description"
      name="description"
      [(ngModel)]="sellProduct.description"
      autocomplete="off"
    />

    <label for="product-price" class="form-label">Product Price</label>
    <input
      type="number"
      placeholder="Price"
      name="price"
      [(ngModel)]="sellProduct.price"
    />

    <label for="product-qty" class="form-label">Product Quantity</label>
    <input
      type="number"
      placeholder="Quantity"
      name="quantity"
      [(ngModel)]="sellProduct.quantity"
    />
    <div class="dropdowns">
      <label for="product-size" class="form-label">Product Size</label>
      <select name="size" id="size" [(ngModel)]="sellProduct.size" required>
        <option
          value="productSize"
          *ngFor="let productSize of productSizes"
          [value]="productSize"
        >
          {{ productSize }}
        </option>
      </select>

      <label for="product-gender" class="form-label">Product Gender</label>
      <select
        name="gender"
        id="gender"
        [(ngModel)]="sellProduct.gender"
        required
      >
        <option
          value="genderType"
          *ngFor="let genderType of genderTypes"
          [value]="genderType"
        >
          {{ genderType }}
        </option>
      </select>
    </div>

    <label for="product-category" class="form-label">Product Category</label>
    <input
      type="number"
      placeholder="Category"
      name="category"
      [(ngModel)]="sellProduct.categoryId"
      required
    />
    <div class="button-div">
      <button class="sell" type="submit">Sell</button>
    </div>
  </form>
</div>
